basePath: /
definitions:
  Entities.ComparisonPair:
    properties:
      comparisonColumnIndex:
        type: integer
      sourceColumnIndex:
        type: integer
    type: object
  recon_requests.GetFileUploadParametersRequest:
    properties:
      comparisionFileName:
        description: comparison file meta data
        type: string
      comparisonFileHash:
        type: string
      comparisonFileRowCount:
        type: integer
      comparisonPairs:
        items:
          $ref: '#/definitions/Entities.ComparisonPair'
        type: array
      sourceFileHash:
        type: string
      sourceFileName:
        type: string
      sourceFileRowCount:
        type: integer
      userId:
        type: string
    required:
    - comparisionFileName
    - comparisonFileHash
    - comparisonPairs
    - sourceFileHash
    - sourceFileName
    - userId
    type: object
  recon_responses.GetFileUploadParametersResponse:
    properties:
      comparisonFileExpectedBatchSize:
        type: integer
      comparisonFileHash:
        description: Comparison File meta
        type: string
      comparisonFileIsFirstTimeUpload:
        description: |-
          flags indicating whether the Comparison file
          is new to us..if not where did we stop
        type: boolean
      comparisonFileLastRowReceived:
        type: integer
      comparisonFileName:
        type: string
      sourceFileExpectedBatchSize:
        type: integer
      sourceFileHash:
        description: SRC File meta data
        type: string
      sourceFileIsFirstTimeUpload:
        description: |-
          flags indicating whether the SRC file
          is new to us..if not where did we stop
        type: boolean
      sourceFileLastRowReceived:
        type: integer
      sourceFileName:
        type: string
      uploadRequestId:
        description: unique Id tagged to this whole uplaod
        type: string
    type: object
host: us-central1-reconcilercore.cloudfunctions.net
info:
  contact:
    email: support@swagger.io
    name: API Support
    url: http://www.swagger.io/support
  description: This is the core backend Reconciler API.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: Reconciler Backend Core API
  version: "1.0"
paths:
  /GetFileUploadParameters:
    post:
      consumes:
      - application/json
      description: given certain details about an incoming upload, it retrieves information
        necessary for successfull upload e.g batch size
      parameters:
      - description: GetFileUploadParametersRequest
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/recon_requests.GetFileUploadParametersRequest'
      produces:
      - application/json
      responses:
        "200":
          description: GetFileUploadParametersResponse
          schema:
            $ref: '#/definitions/recon_responses.GetFileUploadParametersResponse'
        "400":
          description: Bad Request
          schema:
            type: string
        "404":
          description: Not Found
          schema:
            type: string
        "500":
          description: Internal Server Error
          schema:
            type: string
      summary: GetFileUploadParameters
      tags:
      - GetFileUploadParameters API
  /Swagger/index.html:
    get:
      description: returns json needed by Swagger
      produces:
      - application/json
      responses:
        "200":
          description: Json data
          schema:
            type: string
        "400":
          description: Bad Request
          schema:
            type: string
        "404":
          description: Not Found
          schema:
            type: string
        "500":
          description: Internal Server Error
          schema:
            type: string
      summary: Swagger API
      tags:
      - Swagger APIs
  /Swagger/swagger.json:
    get:
      description: returns json needed by Swagger
      produces:
      - application/json
      responses:
        "200":
          description: Json data
          schema:
            type: string
        "400":
          description: Bad Request
          schema:
            type: string
        "404":
          description: Not Found
          schema:
            type: string
        "500":
          description: Internal Server Error
          schema:
            type: string
      summary: GetSwaggerJson
      tags:
      - Swagger APIs
swagger: "2.0"
