{
    "swagger": "2.0",
    "info": {
        "description": "This is the core backend Reconciler API.",
        "title": "Reconciler Backend Core API",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {
            "name": "API Support",
            "url": "http://www.swagger.io/support",
            "email": "support@swagger.io"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0"
    },
    "host": "us-central1-reconcilercore.cloudfunctions.net",
    "basePath": "/",
    "paths": {
        "/GetFileUploadParameters": {
            "post": {
                "description": "Receives either Source or Comparison File Chunks and routes them appropriately for Reconciliation",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "StreamFileChunksForRecon API"
                ],
                "summary": "StreamFileChunksForRecon",
                "parameters": [
                    {
                        "description": "StreamFileChunkForReconRequest",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/recon_requests.StreamFileChunkForReconRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "StreamFileChunkForReconResponse",
                        "schema": {
                            "$ref": "#/definitions/recon_responses.StreamFileChunkForReconResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/Swagger/index.html": {
            "get": {
                "description": "used to access the swagger GUI",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Swagger APIs"
                ],
                "summary": "Swagger API",
                "responses": {
                    "200": {
                        "description": "Json data",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/Swagger/swagger.json": {
            "get": {
                "description": "returns json needed by Swagger",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Swagger APIs"
                ],
                "summary": "GetSwaggerJson",
                "responses": {
                    "200": {
                        "description": "Json data",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Entities.ComparisonPair": {
            "type": "object",
            "properties": {
                "comparisonColumnIndex": {
                    "type": "integer"
                },
                "sourceColumnIndex": {
                    "type": "integer"
                }
            }
        },
        "recon_requests.GetFileUploadParametersRequest": {
            "type": "object",
            "required": [
                "comparisionFileName",
                "comparisonFileHash",
                "comparisonPairs",
                "sourceFileHash",
                "sourceFileName",
                "sourceFileRowCount",
                "userId"
            ],
            "properties": {
                "comparisionFileName": {
                    "description": "comparison file meta data",
                    "type": "string"
                },
                "comparisonFileHash": {
                    "type": "string"
                },
                "comparisonFileRowCount": {
                    "type": "integer"
                },
                "comparisonPairs": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Entities.ComparisonPair"
                    }
                },
                "sourceFileHash": {
                    "type": "string"
                },
                "sourceFileName": {
                    "type": "string"
                },
                "sourceFileRowCount": {
                    "type": "integer"
                },
                "userId": {
                    "type": "string"
                }
            }
        },
        "recon_requests.StreamFileChunkForReconRequest": {
            "type": "object",
            "required": [
                "chunkSequenceNumber",
                "fileType",
                "isEOF",
                "records",
                "uploadRequestId"
            ],
            "properties": {
                "chunkSequenceNumber": {
                    "type": "integer"
                },
                "fileType": {
                    "type": "string"
                },
                "isEOF": {
                    "type": "boolean"
                },
                "records": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "uploadRequestId": {
                    "type": "string"
                }
            }
        },
        "recon_responses.GetFileUploadParametersResponse": {
            "type": "object",
            "properties": {
                "comparisonFileExpectedBatchSize": {
                    "type": "integer"
                },
                "comparisonFileHash": {
                    "type": "string"
                },
                "comparisonFileLastRowReceived": {
                    "type": "integer"
                },
                "comparisonFileName": {
                    "type": "string"
                },
                "isFirstTimeUploadForCmpFile": {
                    "type": "boolean"
                },
                "isFirstTimeUploadForSourceFile": {
                    "type": "boolean"
                },
                "sourceFileExpectedBatchSize": {
                    "type": "integer"
                },
                "sourceFileHash": {
                    "type": "string"
                },
                "sourceFileLastRowReceived": {
                    "type": "integer"
                },
                "sourceFileName": {
                    "type": "string"
                },
                "uploadRequestId": {
                    "type": "string"
                }
            }
        },
        "recon_responses.StreamFileChunkForReconResponse": {
            "type": "object",
            "properties": {
                "messageId": {
                    "type": "string"
                },
                "originalChunkSequenceNumber": {
                    "type": "integer"
                },
                "originalFileType": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                }
            }
        }
    }
}